@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
body{
    background-color:rgb(32, 32, 31);
}
.page{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(240, 100, 100);
    border-radius: 20px;
    padding: 20px;
    max-width: 350px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header h1{
    font-family: 'Noto Sans JP', sans-serif;
}
.header p{
    text-align: center;
    margin-top: -5px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Open Sans', sans-serif;
}
.form{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}
.form input::placeholder{
    color: rgb(172, 172, 172);
    font-family: 'Open Sans', sans-serif;
}
.form input[type="email"]{
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 1em;
    font-size: 13px;
    outline: none;
}
.form input[type="password"]{
    margin-top: 10px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 1em;
    font-size: 13px;
    outline: none;
}
.form input[type="text"]{
    margin-top: 10px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 1em;
    font-size: 13px;
    outline: none;
}
.form input[type="number"]{
    margin-top: 10px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 1em;
    font-size: 13px;
    outline: none;
}
.eye{
    margin-top: -30px;
    margin-left: 300px;
    cursor: pointer;
}
button{
    margin-top: 30px;
    background-color: #000;
    color: #fff;
    border:none;
    border-radius: 10px;
    padding: 1em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}
.login-image{
    padding-left:10%;
    height: 150px;
    max-width: 100%;
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
}
@media screen and (max-width:640px){
    .page{
        margin-bottom: 10px;
        width: 300px;
    }
    .eye{
        margin-left: 250px;
    }
    .login-image{
        display: none;
    }
}
